.auth {
    margin: 10px;
    font-style: italic;
}

.auth-login.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #eaedf1;
}

.auth-login.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 375px;
    padding-bottom: 30px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 0 7px rgba(0,0,0,.15);
}

.auth-login.logo.oanda {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 275px;
    height: auto;
    outline: none;
}

.auth-login.logo.fxopen {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 275px;
    height: auto;
    outline: none;
}


.auth-login.body.fxopen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 710px;
}

/* .auth-login.body.fxopen > div {
    display: flex;
    flex-direction: column;
} */

.auth-login.body.complete {
    flex-direction: column;
    width: 375px;
}

.auth-login.fxopen.info-parent {
    padding-left: 20px;
}

.auth-login.fxopen .info-header {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}

.auth-login.fxopen .info-sub-header {
    font-size: 0.9em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.auth-login.fxopen .info {
    padding: 0;
    padding-top: 40px;
}

.auth-login.body.ib {
    height: 170px;
}

.auth-login.logo.ib {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 275px;
    height: auto;
    outline: none;
}

.auth-login.logo.fxcm {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 275px;
    height: auto;
    outline: none;
}

.auth-login.logo.spotware {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 275px;
    height: auto;
    outline: none;
}

.auth-login.logo.dukascopy {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 275px;
    height: auto;
    outline: none;
}

.auth-login.logo.holygrail {
    width: 150px;
    padding: 20px;
}

.auth-login > a:focus-visible {
    outline: none;
}

.auth-login.account-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    /* border: 1px solid rgb(200,200,200); */
    border-radius: 4px;
}

.auth-login.account-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    color: #2980b9;
    border: 1px solid #2980b9;
    font-size: 1.0em;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-login.account-button.selected {
    color: #fff;
    background-color: #2980b9;
}

.auth-login.account-button:hover {
    color: #fff;
    background-color: #2980b9;
    transition: all 0.5s ease;
}

.auth-login.field-header {
    width: 275px;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.auth-login.field {
    width: 245px;
    height: 42px;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
    font-size: 0.9em;
    outline: none;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
}

.auth-login.field:hover {
    border-color: rgb(120,120,120);
}

.auth-login.field:focus {
    border-color: rgb(120,120,120);
}

.auth-login.info {
    width: 325px;
    padding: 10px;
    font-size: 0.9em;
}

.auth-login.info a {
    color: #000;
}

.auth-login.info a:visited {
    color: #000;
}

.auth-login.info strong {
    font-weight: 700;
}

.auth-login.info li {
    margin-bottom: 5px;
}

.auth-login.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    color: #2980b9;
    border: 1px solid #2980b9;
    font-size: 1.3em;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-login.submit-button.fxcm {
    margin-top: 20px;
}

.auth-login.submit-button.ib {
    margin-top: 15px;
}

.auth-login.submit-button:hover {
    color: #fff;
    background-color: #2980b9;
    transition: all 0.5s ease;
}

.auth-login.message {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-style: italic;
}

.auth-login.captcha-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 124px;
    margin-bottom: 10px;
    font-size: 1.15em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.auth-login.error {
    color: #fff !important;
    background-color: #e74c3c;
    width: 245px;
    padding: 5px 15px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
}

.auth-login.captcha-parent {
    position: relative;
}

.auth-login.captcha-reload {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 94px;
    left: 6px;
    width: 70px;
    height: 25px;
    background: #fff;
    cursor: pointer;
}

.auth-login.captcha-reload-icon {
    width: 20px;
    color: #3498db;
}

.auth-login.captcha-reload:hover .captcha-reload-icon {
    color: #2980b9;
}

.auth-login.captcha-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 94px;
    left: 164px;
    width: 70px;
    height: 25px;
    background: #fff;
    cursor: pointer;
}

.auth-login.captcha-info-icon {
    height: 22px;
    color: #3498db;
}

.auth-login.captcha-info:hover .captcha-info-icon {
    color: #2980b9;
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #2980b9;
    color: #2980b9;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    margin-top: 5px;
}
  
.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}
  
.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #2980b9;
    color: #2980b9;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}
  
.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #2980b9;
    color: #2980b9;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}
  
@keyframes dotFlashing {
    0% {
        background-color: #2980b9;
    }
    50%, 100% {
        background-color: #297fb93b;
    }
}
