nav {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #353b48;
}

.home.logo {
    margin-bottom: 25px;
    text-align: center;
    height: 40px;
}

.home.logo > div > #algowolf {
    height: 40px;
}

.home.container {
    display: flex;
    height: 100%;
}

.home.header {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 20px;
}

.side-panel > header {
    font-size: 2em;
    padding-right: 20px;
}

.main {
    flex: 0 0 600px;
}

.home.container > .home.main {
    border-left: 1px solid rgb(230,230,230);
    border-right: 1px solid rgb(230,230,230);
    margin-top: 75px;
    padding-top: 20px;
    height: 100%;
    min-height: calc(100vh - 75px - 20px);
}

.feed.post {
    width: 100%
}

.side-panel {
    flex: 1 1 0;
    
}

.home.side-panel.left {
    float: right;
}

.home.container > .home.side-panel.right {
    padding-top: 60px;
}

.home.container > .home.side-panel.right div {
    margin-left: 20px;
    margin-right: 20px;
}

.home.container > .home.side-panel.left {
    flex: 1 1 0;
    padding-top: 25px;
}

.list-item.body {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.list-item.left {
    display: flex;
    flex: 0 0 80%;
}

.list-item.right {
    flex: 0 0 20%;
    text-align: right;
}

.list-item.info {
    margin-top: 5px;
    margin-left: 10px;
}

.list-item.name {
    font-size: 1.1em;
    font-weight: 600;
}

.list-item.btn {
    margin-left: 10px;
    width: 25px;
    max-height: 25px;
    color: rgb(80,80,80);
}

.list-item.date {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    margin-top: 5px;
    text-align: right;
    float: right;
    color: rgb(80,80,80);
}

.list-item.date > .list-item.btn {
    width: 15px;
    max-height: 15px;
    margin-right: 5px;
}

.side-panel > .panel-group {
    padding-left: 25px;
    padding-right: 5px;
    width: 180px;
    float: right;
}

.panel-group.fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.panel-item {
    margin-right: 10px;
    margin-bottom: 30px;
}

.panel-group > a {
    text-decoration: none;
}

.center-group {
    display: flex;
    align-items: center;
}

.page {
    font-size: 1.3em;
    color: #2f3542;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel-item.large {
    font-size: 1.5em;
    color: #2f3542;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.small-item {
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
    color: #2f3542;
}

.small-item > #page-icon {
    width: 40px;
    max-height: 20px;
    margin-left: 10px;
    margin-right: 0;
}

.page.selected {
    color: #ffa801 !important;
    font-weight: 600;
}

#page-icon {
    width: 40px;
    max-height: 30px;
    margin-right: 15px;
}

#arrow-icon {
    width: 30px;
    max-height: 30px;
    margin-left: 20px;
}

#profile-drop-icon {
    width: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

#profile-group {
    display: flex;
    align-items: center;
}

#profile-group > .arrow {
    color: #2f3542 !important;
    margin-left: 10px;
}

#profile-balance {
    color: #2f3542;
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bubble {
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
    width: 17px;
    height: 17px;
    background-color: #e74c3c;
    border-radius: 100%;
}

#bubble > div {
    color: #FFF;
    font-size: 0.6em;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#under-construction {
    color: #2f3542;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hammer-icon {
    width: 100px;
    margin-bottom: 20px;
}

#trash-icon {
    color: #e74c3c;
}

#profile-icon {
    width: 50px;
    height: 50px;
    background-color: #2f3542;
    border-radius: 5px;
}

/* #username {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3498db;
} */

#separator {
    width: 100%;
    height: 1px;
    background-color: rgb(240,240,240);
}

