:root {
    --window-tab-height: 30px;
    --toolbox-height: 30px;
    --toolbox-shadow-height: 2px;
    --chart-app-border: rgb(220,220,220);
}

.tab.body {
    position: absolute;
    box-sizing: border-box;
    background-color: #FFF;
    border-bottom: 0.1vh solid var(--chart-app-border);
    width: 100%;
    height: var(--window-tab-height);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tab.body > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tab.item {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 0.9em;
    border-right: 1px solid rgb(220,220,220);
    color: rgb(80,80,80);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.tab.item.selected {
    font-weight: 600;
    border-bottom: 1px solid #FFF;
    color: #000;
    cursor: default;
}

.tab.item > * {
    pointer-events: none;
}

.tab.item:hover {
    background-color: rgb(240,240,240);
    transition: background-color 0.2s linear;
}
.tab.item.selected:hover {
    background-color: transparent;
    transition: background-color 0s linear;
}

.tab.btn {
    width: 15px;
    height: 15px;
    padding-left: 10px;
    color: rgb(180,180,180);
}

.tab.item.add {
    padding-left: 12px;
    padding-right: 12px;
}

.tab.item.add > .btn {
    width: 16px;
    height: 16px;
    color: #2f3542;
    padding: 0;
}

.toolbox.body {
    position: absolute;
    width: 100%;
    background-color: #FFF;
    box-sizing: border-box;
    height: var(--toolbox-height);
    top: calc(var(--window-tab-height));
    padding: 4px 5px 4px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toolbox.body > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.toolbox.item {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
}

.toolbox.item.btn:hover {
    background-color: #fff2cf;
    cursor: pointer;
}

.toolbox.item.row {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #2f3542;
    padding-left: 6px;
    padding-right: 6px;
}

.toolbox.item.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toolbox.item.status > .toolbox.icon {
    width: 7px;
    height: 7px;
    margin-right: 5px;
    color: rgb(140,140,140);
}

.toolbox.item.status > .toolbox.label {
    font-size: 0.75em;
    color: rgb(140,140,140);
}

.toolbox.icon {
    height: 18px;
    margin-right: 5px;
}

.toolbox.icon.small {
    height: 16px;
    margin-right: 8px;
}

.toolbox.right-space {
    margin-right: 5px;
}

.toolbox.separator {
    width: 1px;
    height: 70%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: rgb(220,220,220);
}

.toolbox.dropdown {
    position: absolute;
    cursor: context-menu;
    top: 30px;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
    background-color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 2px rgb(220,220,220);
    z-index: 31;
}

.toolbox.dropdown > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
}

.toolbox.dropdown.small > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    font-size: 0.9em;
}

.toolbox.dropdown > div > * {
    pointer-events: none;
}

.toolbox.dropdown > div:hover {
    background-color: #fff2cf;
    color: #ff8103;
    cursor: pointer;
}

.toolbox.dropdown-item.selected {
    background-color: #fff2cf;
    /* color: #ff8103; */
}

.toolbox.left {
    display: flex;
    align-items: center;
}

.toolbox.left > span {
    margin-left: 10px;
}

.toolbox.right {
    display: block;
    float: right;
    margin-left: 20px;
    color: rgb(180,180,180);
}

.toolbox.left-icon {
    width: 20px;
    max-height: 20px;
    color: #2f3542;
}

.toolbox.dropdown > div:hover .toolbox.left-icon {
    color: #ff8103;
}

.toolbox.right-icon {
    width: 15px;
    height: 15px;
    transform: translateX(0px);
    transition: transform 0.2s ease-out;
}

.toolbox.dropdown > div:hover .toolbox.right-icon {
    color: #ff8103;
    transform: translateX(3px);
    transition: transform 0.2s ease-out;
}

.toolbox.selection-icon {
    padding-left: 3px;
    padding-right: 3px;
    width: 10px;
    height: 10px;
    transform: translateY(0px);
    transition: transform 0.2s ease-out;
}

.toolbox.item.btn:hover .toolbox.selection-icon {
    transform: translateY(2px);
    transition: transform 0.2s ease-out;
}

.toolbox-label {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5vh;
    font-size: 1.9vh;
    font-weight: 600;
    letter-spacing: -0.1vh;
}

.status-label {
    display: inline-block;
    margin-left: 0.5vh;
    font-size: 1.1vh;
    font-weight: 600;
    letter-spacing: 0.1vh;
}

.toolbox-space {
    display: inline-block;
    width: 2.5vh;
}

.blue_btn {
    color: #3498db;
}

.toolbox.item.btn:hover .blue_btn {
    color: #40c5ff;
}

.toolbox.item.btn:active .blue_btn {
    color: #297fa5;
}

.orange_btn {
    color: #f39c12;
}

.toolbox.item.btn:hover .orange_btn {
    color: #ffb64d;
}

.toolbox.item.btn:active .orange_btn {
    color: #bf7810;
}

.red_btn {
    color: #e74c3c;
}

.toolbox.item.btn:hover .red_btn {
    color: #ff6861;
}

.toolbox.item.btn:active .red_btn {
    color: #b23630;
}

.green_btn {
    color: #1abc9c;
}

.toolbox.item.btn:hover .green_btn {
    color: #21dbb7;
}

.toolbox.item.btn:active .green_btn {
    color: #158972;
}

.yellow_btn {
    color: #f1c40f;
}

.toolbox.item.btn:hover .yellow_btn {
    color: #ffc050;
}

.toolbox.item.btn:active .yellow_btn {
    color: #cea90f;
}

.purple_btn {
    color: #9b59b6;
}

.toolbox.item.btn:hover .purple_btn {
    color: #c877ed;
}

.toolbox.item.btn:active .purple_btn {
    color: #6e4182;
}

.grey_btn {
    color: rgb(140,140,140);
}

.toolbox.item.btn:hover .grey_btn {
    color: rgb(80,80,80);
}

.toolbox.item.btn:active .grey_btn {
    color: #000;
}

.black {
    color: #000;
}

.toolbox_shadow {
    position: absolute;
    background-color: rgb(220,220,220);
    top: calc(var(--window-tab-height) + var(--toolbox-height)); 
    width: 100%;
    height: var(--toolbox-shadow-height);

}

.app.container {
    position: absolute;
    background-color: #dfe4ea;
    overflow: hidden !important;
    top: calc(
        var(--window-tab-height) + 
        var(--toolbox-height) +
        var(--toolbox-shadow-height)
    );
    width: 100%;
    height: calc(
        100% - var(--window-tab-height) 
        - var(--toolbox-height)
        - var(--toolbox-shadow-height)
    );
}

.window.wrapper {
    position: absolute;
    background-color: #FFF;
    box-sizing: border-box; 
    border: 0.1vh solid rgb(220,220,220); 
}

.window.wrapper > *
{
    cursor: inherit;
}

.window.btns {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 27px;
    z-index: 31;
}

.window.btns > div {
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom-left-radius: 5px;
    color: #2f3542;
    opacity: 0.2;
}

.window.btns > div:hover {
    opacity: 1.0;
    background-color: #FFF;
}

.window.item {
    width: 16px;
    max-height: 16px;
    margin-right: 7px;
    cursor: pointer;
}

.window.item:hover {
    color: #ff6861;
}

.window.shadow {
    position: absolute;
    background-color: none;
    box-shadow: 0 0 5px rgb(180,180,180);
    z-index: 0;
}

.popup.body {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 900px;
    background-color: #FFF;
    border: 1px solid rgb(220,220,220);
    border-radius: 7px;
    box-shadow: 0px 2px 3px rgb(220,220,220);
    z-index: 31;
}

.popup.header {
    width: 100%;
    padding: 20px 0px 20px 30px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid rgb(220,220,220);
    color: rgb(40,40,40);
}

.popup.content {
    display: flex;
    height: 100%;
}

.popup.search {
    width:100%;
    height: 50px;
    border-bottom: 1px solid rgb(220,220,220);
}

.popup.close {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 100%;
    bottom: 100%;
    cursor: pointer;
}

.popup.close-icon {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    color: rgb(180,180,180);

}

.popup.category {
    flex: 1 0 auto;
    max-width: 250px;
    height: 100%;
    border-right: 1px solid rgb(220,220,220)
}

.popup.category-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.0em;
}

.popup.category-btn > * {
    pointer-events: none;
    color: rgb(80,80,80);
}

.popup.category-btn.selected {
    background-color: #fff2cf;
    color: #ff8103;
}

.popup.category-btn.selected > .category-left {
    color: #ff8103;
}

.popup.category-btn.selected > .category-right {
    color: #ff8103;
}

.popup.category-btn:hover {
    background-color: #fff2cf;
    color: #ff8103;
    cursor: pointer;
}

.popup.category-btn:hover .category-left {
    color: #ff8103;
}

.popup.category-left {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.popup.category-left > svg {
    width: 20px;
    max-height: 20px;
    margin-right: 10px;
}

.popup.category-right {
    display: block;
    float: right;
    margin-left: 20px;
    color: rgb(180,180,180);
}

.popup.category-icon {
    width: 15px;
    height: 15px;
    transform: translateX(0px);
    transition: transform 0.2s ease-out;
}

.popup.category > div:hover .popup.category-icon {
    color: #ff8103;
    transform: translateX(3px);
    transition: transform 0.2s ease-out;
}

.popup.main {
    flex: 2 1 auto;
    /* width: 100%; */
    /* height: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
}

.popup.main-list {
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.popup.main-item {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 20px 10px 20px;
}

.popup.left {
    display:flex;
    align-items: center;
    height: 50px;
    margin-left: 30px;
}

.popup.right {
    display:flex;
    align-items: center;
    height: 50px;
    margin-left: 70px;
}

.popup.right-item {
    margin-right: 20px;
}

.popup.item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup.item-left {
    display: flex;
    align-items: center;
}

.popup.item-left > span {
    margin-left: 10px;
}

.popup.item.title {
    padding: 10px 10px 2px 15px;
    color: rgb(140,140,140);
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.popup.item.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px 7px 15px;
    /* border-bottom: 1px solid rgb(220,220,220); */
    font-size: 0.9em;
    font-weight: 400;
}

.popup.item.btn > * {
    pointer-events: none;
}

.popup.item.btn:hover {
    background-color: #fff2cf;
    color: #ff8103;
    cursor: pointer;
}

/* .popup.item.btn:hover > .popup.item-right {
    display: block;
} */

.popup.item-right {
    display: block;
    float: right;
    margin-left: 20px;
    color: rgb(180,180,180);
}

.popup.item-icon {
    width: 15px;
    height: 15px;
    transform: translateX(0px);
    transition: transform 0.2s ease-out;
}

.popup.item.btn:hover .popup.item-icon {
    color: #ff8103;
    transform: translateX(3px);
    transition: transform 0.2s ease-out;
}

.chart.canvas {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.chart.info {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

.chart.group {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255,255,255,0.7);
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    height: 20px;
    color: rgb(40,40,40);
}

.chart.group.study {
    background-color: transparent;
}

.chart.product-btn {
    font-weight: 400;
    padding: 0px 5px 0px 0px;
}

.chart.period-btn {
    font-weight: 500;
    padding: 0px 5px 0px 5px;
}

.chart.values {
    font-size: 0.9em;
    font-weight: 500;
}

.chart.values.type {
    padding-left: 5px;
}

.chart.values.period {
    color: #000;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 0.8em;
    border-right: 1px solid rgb(180,180,180);
}

.chart.values.price {
    padding-left: 2px;
    color: #3498db;
}

.chart.overlay {
    font-size: 0.9em;
}

.chart.overlay > .type {
    padding-left: 0;
}

.chart.overlay > span > .price {
    padding-left: 5px;
}

.chart.study {
    font-size: 0.95em;
}

.chart.study > .type {
    padding-left: 0;
}

.chart.study > span > .price {
    padding-left: 5px;
}

.dockable.background {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.dockable.header {
    display: flex;
    align-items: center;
    height: 35px;
    color: rgb(80,80,80);
    padding-left: 15px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline #f39c12;
    border-bottom: 1px solid rgb(200,200,200);
}

.log.background {
    width: 100%;
    height: 100%;
    color: rgb(40,40,40);
    background-color: rgb(240,240,240);
}

.log.body {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-height: calc(100% - 35px);
    white-space: pre-wrap;
    overflow: auto;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
}

.log.body span {
    padding-left: 10px;
}

.context-menu.body {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgb(220,220,220);
    overflow: hidden;
    color: rgb(80,80,80);
    z-index: 31;
}

.context-menu.item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.context-menu.item > svg {
    width: 20px;
    max-height: 20px;
    margin-right: 15px;
}

.context-menu.item.left-space {
    padding-left: 45px;
}

.context-menu.item.separator {
    border-bottom: 1px solid rgb(220,220,220);
}

.context-menu.item:hover {
    background-color: rgb(240,240,240);
    cursor: pointer;
}

#live_status {
    color: #ff6861;
}

#offline_status {
    color: rgb(120,120,120);
}

#play_status {
    color: #2ecc71;
}

#stop_status {
    color: #ff6861;
}

#info_status {
    color: #ffb64d;
}

#info_status.icon {
    width: 10px;
    height: 10px;
}

/* .window-scrollbar > *::-webkit-scrollbar {
    width: 15px;
}

.window-scrollbar > *::-webkit-scrollbar-track {
    background: orange;
    border-radius: 10px;
}

.window-scrollbar > *::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
} */


div[title='#FFF'] {
    border: 1px solid rgb(220,220,220);
    box-sizing: border-box;
}

/* .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
  } */