:root {
    --nav-height: 35px;
    --window-tab-height: 30px;
    --toolbox-height: 30px;
    --toolbox-shadow-height: 3px;
    --right-panel-width: 300px;
    --chart-app-border: rgb(200, 200, 200);
}

.container {
    width: 100%;
    height: 100vh;
}

.nav {
    background-color: rgb(80,80,80);
    width: 100%;
    height: var(--nav-height);
}

.window_tab {
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid var(--chart-app-border);
    width: 100%;
    height: var(--window-tab-height);
}

.toolbox {
    position: absolute;
    box-sizing: border-box;
    top: calc(var(--window-tab-height) + var(--nav-height));
    width: 100%;
    height: var(--toolbox-height);
}

.toolbox_shadow {
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: var(--toolbox-shadow-height);

}

.app_container {
    position: absolute;
    background-color: rgb(240, 240, 240);
    top: calc(var(--window-tab-height) + var(--nav-height) + var(--toolbox-height));
    width: 100%;
    height: calc(
        100% - var(--window-tab-height) 
        - var(--nav-height) 
        - var(--toolbox-height)
    );
}

.window_wrapper {
    position: absolute;
    background-color: #FFF;
    box-sizing: border-box; 
    border: 1px solid rgb(80, 80, 80); 
}