:root {
    --nav-height: 35px;
    --window-tab-height: 30px;
    --toolbox-height: 30px;
    --right-panel-width: 300px;
    --chart-app-border: rgb(200, 200, 200);
}

.container {
    width: 100%;
    height: 100vh;
}

.nav {
    background-color: rgb(0,0,0);
    width: 100%;
    height: var(--nav-height);
}

.window_tab {
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid var(--chart-app-border);
    width: 100%;
    height: var(--window-tab-height);
}

.toolbox {
    position: absolute;
    box-sizing: border-box;
    border-bottom: 1px solid var(--chart-app-border);
    top: calc(var(--window-tab-height) + var(--nav-height));
    width: calc(100% - var(--right-panel-width));
    height: var(--toolbox-height);
}

.chart_container {
    position: absolute;
    top: calc(var(--window-tab-height) + var(--nav-height) + var(--toolbox-height));
    width: calc(100% - var(--right-panel-width));
    height: calc(
        100% - var(--window-tab-height) 
        - var(--nav-height) 
        - var(--toolbox-height)
    );
}

.right_panel {
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    border-left: 1px solid var(--chart-app-border);
    top: calc(var(--window-tab-height) + var(--nav-height));
    left: calc(100% - var(--right-panel-width));
    width: var(--right-panel-width);
    height: calc(
        100% - var(--window-tab-height) 
        - var(--nav-height)
    );
}